<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Memory Book</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
      integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/css/style.css" />

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

    <script type="text/javascript">
      $(document).ready(function () {
        $("header").load("header.html");
      });
      $(document).ready(function () {
        $("footer").load("footer.html");
      });
    </script>
  </head>
  <body>
    <header></header>
    <section>
      <div class="book__container">
        <h1>IT / 컴퓨터</h1>
        <div class="book__list">
          <div class="books"></div>
          <div class="books"></div>
          <div class="books"></div>
          <div class="books"></div>
          <div class="books"></div>
          <div class="books"></div>
        </div>
      </div>
      <div class="book__container">
        <h1>인문</h1>
        <div class="book__list">
          <div class="books"></div>
          <div class="books"></div>
          <div class="books"></div>
          <div class="books"></div>
          <div class="books"></div>
          <div class="books"></div>
        </div>
      </div>
    </section>
    <footer></footer>
  </body>
</html>
